@import "../login.component";

.group-logo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left !important;
  align-items: flex-start !important;


  .subtitle {
    color: gray;
    width: 100%;
    position: relative;
    left: 0;
  }

  & .logo {
    width: 50px !important;
  }
}

.login-container {
  background: #ffffff;

  .login-content {
    width: 75%;
    border: 1px solid #c1d8ae !important;
    padding: 25px;
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    .logo {
      position: relative;
      top: 0;
      width: 80px;
    }

    .subtitle {
      color: #003f37;
      font-size: 22px;
    }

    .group-field-user, .group-field-password {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      line-height: 5px;
      min-height: 80px;
      margin: 5px;

      .label-input {
        color: gray;
        margin: 5px;
        position: relative;
        top: 15px;
        min-height: 20px;
      }

      .error {
        position: relative;
        top: 5px;
        left: 5px;
        font-size: 10px;
        color: #dc5f56;
      }

      .field {
        padding-left: 5px;
        position: relative;
        bottom: 0;
        border: 1px solid lightgray !important;
      }
    }

    .login-button {
      margin: 70px 0 25px 0;
      width: 150px;
    }
  }
}

@media screen and(max-width: 768px) {

  .logo {
    width: 50px !important;
  }

  .login-container {
    .login-content {
      flex-direction: column;
    }

    .group-logo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: left !important;
      align-items: flex-start !important;
    }

    .group-field-user, .group-field-password {
      margin: 5px;
      width: 100% !important;

      .label-input {
        color: gray;
        margin: 5px !important;
      }

      & .field {
        width: 100% !important;
        border: 1px solid lightgray !important;
      }
    }

    & .login-button {
      width: 150px;
      top: 10px;
    }
  }

}
