<div class="login-container">
  <form [formGroup]="form" class="login-content">
    <div class="group-logo">
      <img class="logo" src="../../assets/img/logo-escura.svg">
      <span class="subtitle">Ir para o agende</span>
    </div>
    <div class="group-field-user w-50">
      <label class="label-input">Nome</label>
      <input class="field" type="text" placeholder="Nome completo" id="nome" formControlName="name">
      <label class="error" *ngIf="name.invalid && (name.dirty || name.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-25">
      <label class="label-input">E-mail</label>
      <input class="field" type="text" placeholder="email@email.com" id="email" formControlName="email">
      <label class="error" *ngIf="email.invalid && (email.dirty || email.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-16-66">
      <label class="label-input">Telefone</label>
      <input class="field" type="text" placeholder="(00) 00000-0000" mask="(000) 00000-0000" id="telefone" formControlName="cellphone">
      <label class="error" *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-16-66">
      <label class="label-input">CPF</label>
      <input class="field" type="text" placeholder="000.000.000-00" mask="000.000.000-00" id="cpf" formControlName="cpf">
      <label class="error" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-16-66">
      <label class="label-input">Data de Nascimento</label>
      <input class="field" type="date" placeholder="nascimento" id="nascimento" formControlName="born">
      <label class="error" *ngIf="born.invalid && (born.dirty || born.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-16-66">
      <label class="label-input">Sexo</label>
      <select class="field" formControlName="sexo">
        <option value="">Selecione</option>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="outro">Outro</option>
        <option value="indefinido">Prefiro não dizer</option>
      </select>
      <label class="error" *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-16-66">
      <label class="label-input">Estado</label>
      <input class="field" type="text" placeholder="UF" list="estados" id="uf" formControlName="state">
      <datalist id="estados">
        <option value="{{estado.sigla}}" *ngFor="let estado of estado"></option>
      </datalist>
      <label class="error" *ngIf="state.invalid && (state.dirty || state.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-25">
      <label class="label-input">Cidade</label>
      <input class="field" type="text" placeholder="cidade" list="cidades" formControlName="city">
      <datalist id="cidades">
        <option value="{{cidade.nome}}" *ngFor="let cidade of cidades"></option>
      </datalist>
      <label class="error" *ngIf="city.invalid && (city.dirty || city.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-user w-25">
      <label class="label-input">Login</label>
      <input class="field" type="text" placeholder="login" id="login" formControlName="login">
      <label class="error" *ngIf="login.invalid && (login.dirty || login.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-password w-25">
      <label class="label-input">Senha</label>
      <input class="field" type="password" placeholder="Crie uma senha" id="password" formControlName="password">
      <label class="error" *ngIf="password.invalid && (password.dirty || password.touched)">Campo obrigatório*</label>
    </div>
    <div class="group-field-password w-25">
      <label class="label-input">Confirmação de senha</label>
      <input class="field" type="password" placeholder="Confirme a senha" id="confirme"
             formControlName="confirmePassword">
      <label class="error" *ngIf="confirmePassword.invalid && (confirmePassword.dirty || confirmePassword.touched)">Campo obrigatório*</label>
    </div>
    <button class="login-button" (click)="save()">Cadastrar</button>
  </form>
</div>
