@import "src/app/login/login.component";

.title {
  border: 1px solid red !important;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  background: #027c57;
  border-bottom: 3px solid #00da86;

  & .container-btn-hamb {
    width: 25%;
    height: 100px;

    & .btn-menu {
      position: relative;
      top: 30px;
      left: 20px;
      color: #ffffff;
      cursor: pointer;
      font-size: 24px;
      margin-top: 5px;
    }
  }

  & .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    & .logo {
      position: relative;
      width: 50px;
    }

    & .acount {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      vertical-align: center;
      height: 100px;
      color: white;

      & fa-icon {
        font-size: 25px;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          color: #00da86;
        }
      }
    }

    & .welcome {
      width: 100%;
      color: white;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 85px;

    & .content {
      .acount {
        height: 85px;

        span {
          display: none;
        }
      }
    }

    .logo {
      position: relative;
      width: 40px;
    }
  }


  .login-content {
    width: 75%;
    padding: 25px;
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

    & .subtitle {
      color: #003f37;
      font-size: 22px;
    }

    .group-logo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: left !important;
      align-items: flex-start !important;
    }

    .group-field-user, .group-field-password {
      margin: 5px;


      .label-input {
        color: gray;
        margin: 5px !important;
      }

      & .field {
        width: 100% !important;
        border: 1px solid lightgray !important;
      }
    }

    & .login-button {
      width: 150px;
      top: 10px;
    }
  }
}

@media screen and(min-width: 768px) {

  .logo {
    width: 50px !important;
  }

  .login-container {
    .login-content {
      width: 75%;
      padding: 25px;
      display: flex;
      background: #ffffff;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;

      & .subtitle {
        color: #003f37;
        font-size: 22px;
      }
    }

    .group-logo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: left !important;
      align-items: flex-start !important;
    }

    .group-field-user, .group-field-password {
      margin: 5px;


      .label-input {
        color: gray;
        margin: 5px !important;
      }

      & .field {
        width: 100% !important;
        border: 1px solid lightgray !important;
      }
    }

    & .login-button {
      width: 150px;
      top: 10px;
    }
  }

}

