<header #header class="header">
  <div class="content">
    <div class="container-btn-hamb" (click)="showMenu()">
      <fa-icon class="btn-menu" [icon]="faBars"></fa-icon>
    </div>
    <div class="container-logo" *ngIf="!showMenuList">
      <img class="logo" src="../../assets/img/logo.svg" alt="">
    </div>
    <div class="acount">
      <span>Minha conta</span>
      <fa-icon [icon]="faUserCircle" (click)="toogle()"></fa-icon>
      <fa-icon [icon]="faSignOutAlt" [routerLink]="['/login']"></fa-icon>
    </div>
  </div>
</header>
<app-menu [isVisible]="showMenuList" (click)="hiddenMenu()"></app-menu>
<app-modal [isVisible]="isVisible">
  <form [formGroup]="form">
    <h2 class="title-form"> <fa-icon [icon]="faIdCard"></fa-icon> Informações do usuário</h2>
    <div class="container-form-modal">
      <div class="group-field-user w-50">
        <label class="label-input">Nome</label>
        <input class="field" type="text" placeholder="Nome completo" id="nome" formControlName="name">
      </div>
      <div class="group-field-user w-25">
        <label class="label-input">E-mail</label>
        <input class="field" type="text" placeholder="email@email.com" id="email" formControlName="email">
      </div>
      <div class="group-field-user w-16-66">
        <label class="label-input">Telefone</label>
        <input class="field" type="text" placeholder="(00) 00000-0000" mask="(000) 00000-0000" id="telefone"
               formControlName="cellphone">
      </div>
      <div class="group-field-user w-16-66">
        <label class="label-input">CPF</label>
        <input class="field" type="text" placeholder="000.000.000-00" mask="000.000.000-00" id="cpf"
               formControlName="cpf">
      </div>
      <div class="group-field-user w-16-66">
        <label class="label-input">Data de Nascimento</label>
        <input class="field" type="date" placeholder="nascimento" id="nascimento" formControlName="born">
      </div>
      <div class="group-field-user w-16-66">
        <label class="label-input">Sexo</label>
        <select class="field" formControlName="sexo">
          <option value="">Selecione</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
          <option value="outro">Outro</option>
          <option value="indefinido">Prefiro não dizer</option>
        </select>
      </div>
      <div class="group-field-user w-16-66">
        <label class="label-input">Estado</label>
        <input class="field" type="text" placeholder="UF" list="estados" id="uf" formControlName="state">
        <datalist id="estados">
          <option value="{{estado.sigla}}" *ngFor="let estado of estado"></option>
        </datalist>
      </div>
      <div class="group-field-user w-25">
        <label class="label-input">Cidade</label>
        <input class="field" type="text" placeholder="cidade" list="cidades" formControlName="city">
        <datalist id="cidades">
          <option value="{{cidade.nome}}" *ngFor="let cidade of cidades"></option>
        </datalist>
      </div>
      <div class="group-field-user w-25">
        <label class="label-input">Login</label>
        <input class="field" type="text" placeholder="login" id="login" formControlName="login">
      </div>
      <div class="group-field-password w-25">
        <label class="label-input">Senha</label>
        <input class="field" type="password" placeholder="Crie uma senha" id="password" formControlName="password">
      </div>
      <div class="group-field-password w-25">
        <label class="label-input">Confirmação de senha</label>
        <input class="field" type="password" placeholder="Confirme a senha" id="confirme"
               formControlName="confirmePassword">
      </div>
      <button class="login-button" (click)="updateUser()">Atualizar</button>
    </div>
  </form>
</app-modal>
