.tableFixHead {
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  border: 1px solid lightgray;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 220px);
  overflow-y: auto;
  background: white;
  box-shadow: 2px 2px 8px lightgray;
  border-radius: 7px;
}

.tableFixHead thead th {
  position: sticky;
  height: 50px;
  letter-spacing: 2px;
  top: 0;
  color: #ffffff;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 0.5em;
  background: white;
}

th, td {
  padding: 8px 16px;
}

td {
  & .card-label {
    display: none;
  }
}

th {
  background: #00da86;
  border-collapse: collapse;
}

tr {
  min-height: 50px;
  border-bottom: 1px solid #cceab9;
  width: 100%;
}

tr:nth-child(2n-1) {
  background: #d3ddcd;
}

.reserve {
  font-size: 24px;
  color: #003f37;

  &:hover {
    color: #00da86;
  }
}


@media only screen and (max-width: 768px) {
  .tableFixHead {
    height: calc(100vh - 170px);
    & thead th {
      display: none;
    }

    tr {
      width: 90%;
      display: flex;
      min-height: 80px;
      justify-content: space-between;
      flex-wrap: wrap;
      border-radius: 10px;
      margin: 10px auto;
      flex-direction: row;
      border: 1px solid lightgrey;

      &:nth-child(1n+1) {
        border-left: 5px solid #00b36f;
      }

      &:nth-child(2n+1) {
        border-left: 5px solid #00da86;
      }

      & td {
        display: flex;
        flex-direction: column;

        & .card-label {
          display: block;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

}
