<div class="tableFixHead">
  <table>
    <thead>
    <th *ngFor="let head of headers">{{head.description}}</th>
    </thead>
    <tbody *ngIf="consulta">
    <ng-template ngFor let-detail [ngForOf]="consulta">
      <tr>
        <td><span class="card-label">DATA DA CONSULTA: </span>{{detail.data}}</td>
        <td><span class="card-label">HORA: </span>{{detail.hora}}</td>
        <td><span class="card-label">PROCEDIMENTO: </span> {{detail.procedimento}}</td>
        <ng-template ngFor let-profissional [ngForOf]="detail.profissional">
          <td><span class="card-label">PROFISSIONAL: </span>{{profissional.nome}}</td>
          <td><span class="card-label">ESPECIALIDADE: </span> {{profissional.especialidade}}</td>
          <td><span class="card-label">CRO: </span> {{profissional.cro}}</td>
        </ng-template>
      </tr>
    </ng-template>
    </tbody>
    <tbody *ngIf="solicitacao">
    <ng-template ngFor let-s [ngForOf]="solicitacao">
      <tr>
        <ng-template ngFor let-p [ngForOf]="s.profissional">
          <td><span class="card-label">PROFISSIONAL: </span>{{p.nome}}</td>
          <td><span class="card-label">ESPECIALIDADE: </span>{{p.especialidade}}</td>
          <td><span class="card-label">CRO: </span>{{p.cro}}</td>
          <td><span class="card-label">AGENDAMENTO: </span><a [routerLink]="['/agendamento/', s.id]"
                                                              [queryParams]="s.id">
            <fa-icon class="reserve" [icon]="faBook"></fa-icon>
          </a></td>
        </ng-template>
      </tr>
    </ng-template>
    </tbody>
    <tbody *ngIf="clientes">
    <ng-template ngFor let-c [ngForOf]="clientes">
      <tr>
        <td><span class="card-label">Nome: </span>{{c.nome}}</td>
        <td><span class="card-label">E-mail: </span>{{c.email}}</td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
