<div class="login-container">
  <form [formGroup]="form" class="login-content">
    <div class="group-logo">
      <img class="logo" src="../../assets/img/logo.svg">
      <span class="subtitle">ENTRE COM SUA CONTA</span>
    </div>
    <div class="group-field-user">
      <input class="field" type="text" placeholder="Usuário" id="user"formControlName="login">
      <span class="faIcon"><fa-icon [icon]="faUserSolid"></fa-icon></span>
    </div>
    <div class="group-field-password">
      <input class="field" type="password" placeholder="Senha" id="password"
             formControlName="password">
      <span class="faIcon"><fa-icon [icon]="faLock"></fa-icon></span>
    </div>
    <span class="subtitle">Esqueceu a senha?</span>
    <button class="login-button" [routerLink]="['/consulta']">Entrar</button>
    <span><a class="btn-register" [routerLink]="['/cadastro']">Ainda não é cadastrado?</a></span>
  </form>
</div>
