.login-container {
  display: flex;
  position: relative;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  min-height: 100vh;
  background: #027c57;

  & .login-content {
    width: 400px;
    min-height: 400px;
    margin: 25px;
    top: 25px;
    background: #027c57;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border: 1px solid #E5FFC9;

    & .logo {
      width: 100px;
    }

    & {
      border-radius: 20px;
    }

    & .subtitle {
      font-size: 12px;
      color: #ffffff;
    }

    & .group-field-user, .group-field-password, .group-logo {
      width: 80%;
      min-height: 60px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .field {
        width: 100%;
        height: 35px;
        position: absolute;
        border: none;
        color: lightgray;
        padding: 5px;
        margin-top: 10px;
        border-radius: 7px;
        font-size: 14px;
        text-align: left;
        padding-left: 50px;
        color: gray;

        &:focus {
            border: 2px solid #00da86 !important;
        }
      }
    }

    & .text-invalid {
      position: absolute;
      left: 0;
      top: 5px;
      z-index: 1;
      color: crimson;
      font-family: "Segoe UI", sans-serif;
      font-size: 10px;
      font-weight: bold;
    }

    & .faIcon {
      position: absolute;
      left: 25px;
      bottom: 0;
      color: gray;
    }

    & .btn-register {
      text-decoration: none;
      color: #E5FFC9;
      font-size: 14px;

      &:hover {
        color: #E5FFC9;
      }
    }

  }

  .login-button {
    width: 60%;
    height: 35px;
    border-radius: 7px;
    border: none;
    position: relative;
    cursor: pointer;
    background: #00b36f;
    color: #E5FFC9;

    &:hover {
      background: #00da86;
    }
  }

  .register {
    color: #082558;
    width: 100%;
    position: relative;
  }
}

@media screen and(max-width: 768px) {
  .login-form {
    width: 50%;
  }
}
