.container-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99;
  animation: menuOpacity 5s ease-in-out;

  & .content-menu {
    width: 25%;
    height: 100vh;
    border-left: 3px solid #00da86;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.5);
    background: #00b36f;

    & .container-logo {
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .logo {
        position: relative;
        width: 60px;
      }
    }

    & .menu-list {
      margin-top: 50px;
    }

    & .menu-list > li {
      display: flex;
      justify-content: left;
      vertical-align: center;
      align-items: center;
      color: #ffffff;
      padding-left: 15px;
      height: 40px;
      font-size: 18px;
      border-bottom: 1px solid #009859;
      cursor: pointer;

      &:hover {
        background: #ffffff;
        color: #066a45;
      }

      & .icon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container-menu {
    & .content-menu {
      width: 100%;
    }
  }
}
