<div class="container-menu" [class.hidden]="!isVisible">
  <div class="content-menu">
    <div class="container-logo">
      <img class="logo" src="../../assets/img/logo.svg" alt="">
    </div>
    <ul class="menu-list">
      <li [routerLink]="['/consulta']"> <fa-icon class="icon" [icon]="faClipboardList"></fa-icon> Consultas</li>
      <li [routerLink]="['/solicitacao']"> <fa-icon class="icon" [icon]="faAddresCard"></fa-icon> Solicitação</li>
      <li [routerLink]="['/horarios']"> <fa-icon class="icon" [icon]="faClock"></fa-icon> Horários</li>
      <li [routerLink]="['/tipoConsulta']"> <fa-icon class="icon" [icon]="faAddressBook"></fa-icon> Tipos de consultas</li>
      <li [routerLink]="['/clientes']"> <fa-icon class="icon" [icon]="faUserFriends"></fa-icon> Clientes</li>
    </ul>
  </div>
</div>
