<div class="main">
    <h1 class="main-title">
      <a (click)="goBack()">
      <fa-icon [icon]="faArrowClicleLeft"></fa-icon>
        {{title}}
      </a>
    </h1>
  <span class="plus" *ngIf="visiblePlus"><fa-icon [icon]="faPlus" [routerLink]="['/solicitacao']"></fa-icon></span>
  <ng-content></ng-content>
</div>
