.main {
  margin: 0 auto;
  position: absolute;
  top: 100px;
  padding-bottom: 50px;
  width: 100%;
  height: calc(100vh - 100px);
  box-shadow: 1px 1px 5px gray;
  background: #f5ffef;
  outline: none;

  & .main-title {
    font-size: 20px !important;
    height: 50px;
    position: relative;
    top: 15px;
    margin-left: 70px;
    cursor: pointer;

    & a {
      color: #003f37;
      text-decoration: none;
    }
  }

  & .subtitle {
    position: fixed;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #082558;
  }

  & .plus {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    right: 100px;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #00da86;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;

    &:hover {
      background: #00b36f;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    top: 85px;
    height: calc(100vh - 85px);

    & .main-title {
      margin-left: 25px;
    }

    & .plus {
      right: 50px;
    }
  }
}
