.show {
  width: 250px;
  position: fixed;
  opacity: 0;
  bottom: 10px;
  right: 10px;
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  padding: 8px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  & {
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    animation: 3s show-alert;
  }

  @keyframes show-alert {
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.hidden {
  display: none;
}

.icon, .message {
  margin: 5px;
  font-size: 16px;
}

.success {
  background: #00da86;
  font-weight: bold;
}

.error {
  background: #dc5f56;
  font-weight: bold;
}

.warning {
  background: #f1cc00;
  font-weight: bold;
}
