<div class="collapse" (click)="toogle()">
  <fa-icon class="clock" [icon]="faHistory"></fa-icon>
  <h4 class="title-horario">{{title}}</h4>
  <fa-icon *ngIf="visible" class="arrowDown" [icon]="faSortDown"></fa-icon>
  <fa-icon *ngIf="!visible" class="arrowDown" [icon]="faSortUp"></fa-icon>
  <div class="content" *ngIf="!visible">
    <ng-content></ng-content>
  </div>
</div>
