.collapse {
  width: 450px;
  top: 30px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 auto;

  & .collapse-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    align-items: center;
  }

  & .arrowDown, .clock {
    color: gray;
  }

  & .arrowDown {
    text-align: center;
    color: gray;
    position: relative;
    right: 10px;
  }

  & .clock {
    position: relative;
    left: 10px;
  }

  & .title-horario {
    color: gray;
    font-size: 14px;
    position: relative;
    letter-spacing: 1px;
  }

  & .clock-list {
    color: #00b36f;
  }

  & .content {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 200px;
    top: 14px;
    border: 1px solid lightgray;
  }
}

@media only screen and (max-width: 768px) {
  .collapse {
    width: 100%;
    position: relative;

    & .title-horario {
      font-size: 12px;
    }

    & .content {
     height: 200px;
    }
  }
}
