<app-header></app-header>
<main [title]="'Tipo de consutas - Formulário'">
  <div class="container">
    <form class="form-control">
      <div class="form-group">
        <label class="control-label">Procedimento</label>
        <input class="input-control flex-2" type="text">
        <label class="control-label">Duração</label>
        <input class="input-control" type="time">
        <button class="btn-save" (click)="save()">Cadastrar</button>
      </div>
    </form>
    <app-collapse [title]="'Procedimentos'">
      <div class="table-fixed">
        <table class="table">
          <thead>
          <tr class="table-thead">
            <th>Procedimento</th>
            <th>Duração</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Limpeza</td>
            <td>00:30</td>
          </tr>
          <tr>
            <td>Canal</td>
            <td>01:00</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-collapse>
  </div>
</main>
