.container {
  & .form-control {
    width: 50%;
    height: 220px;

    & .form-group {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: column;

    .form-control {
      width: 100%;

      & .form-group {
        width: 100%;
        justify-content: center;

        & .input-control {
          width: 100%;
        }
      }
    }

    app-collapse {
      width: 100%;
      position: relative;
      height: 1px;
      top: 0;
    }

    .table {
      font-size: 14px;
      text-align: center;
    }
  }
}
