<app-header></app-header>
<main [title]="'Horários - Formulário'">
  <div class="container">
    <form class="form-control" [formGroup]="form">
      <div class="form-group">
        <label class="label-input">Dia</label>
        <select class="input-control">
          <option value="">selecione</option>
          <option value="segunda">Segunda</option>
          <option value="terça">Terça</option>
          <option value="quarta">Quarta</option>
          <option value="quinta">Quinta</option>
          <option value="sexta">Sexta</option>
          <option value="sabado">Sábado</option>
          <option value="domingo">Domingo</option>
        </select>
        <label class="control-label">Horário inicio</label>
        <input class="input-control flex-2" type="time">
        <label class="control-label">Horário Fim</label>
        <input class="input-control" type="time">
        <button class="btn-save" (click)="save()">Cadastrar</button>
      </div>
    </form>
    <app-collapse [title]="'Horarios'">
      <div class="table-fixed">
        <table class="table">
          <thead>
          <tr class="table-thead">
            <th>Dia</th>
            <th>Horário inicio</th>
            <th>Horário fim</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Segunda</td>
            <td>08:00</td>
            <td>13:00</td>
          </tr>
          <tr>
            <td>Terça</td>
            <td>13:00</td>
            <td>19:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          <tr>
            <td>Quinta</td>
            <td>18:00</td>
            <td>21:00</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-collapse>
  </div>
</main>
