.spinner {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  background: #ffffff;

  & .logo {
    width: 60px;
  }

  & .text-loading {
    color: darkgray;
  }
}
