<app-header></app-header>
<main [title]="'Agendamento'">
  <form [formGroup]="form">
    <div class="container-calendar">
      <app-spinner *ngIf="isSpinner"></app-spinner>
      <p class="title-month">
        <fa-icon class="btn-left" [icon]="faChevronLeft" (click)="getPreviousMonth(numberMonth)"></fa-icon>
        {{month}} / {{ano}}
        <fa-icon class="btn-right" [icon]="faChevronRight" (click)="getNextMonth(numberMonth)"></fa-icon>
      </p>
      <div class="container-days">
        <div #dia class="day"
             [class.day-disable]="
              (numberMonth < motherToday && anoAtual === ano) ||
              (numberMonth < motherToday && ano < anoAtual) ||
              (numberMonth > motherToday && ano < anoAtual) ||
              (numberMonth === motherToday && ano < anoAtual)"
             [class.display-none]="day.dia < today && (numberMonth === motherToday && anoAtual === ano)"
             [class.day-active]="day.dia === dataAgenda && (numberMonth > motherToday || numberMonth === motherToday) && anoAtual === ano"
             *ngFor="let day of diasAtendimento"
             (click)="getListHours(day.dia)">
          <p class="description">{{day.descricao}}</p>
          <p>{{day.dia}}</p>
          <span class="triangle-paper"></span>
        </div>
      </div>
      <div class="container-tipoConsulta"
           [class.container-tipoConsulta-none]="numberMonth < motherToday && ano === anoAtual || ano < anoAtual">
        <select class="form-control" formControlName="tipoConsulta">
          <option value=''>Selecione um tipo de consulta</option>
          <option value="Odontológica">Odontológica</option>
          <option value="Limpeza">Limpeza</option>
          <option value="Canal">Canal</option>
        </select>
      </div>
      <h3 class="title-error" *ngIf="isAgenda">
        <fa-icon [icon]="faSad"></fa-icon>
        Não há agenda disponível
      </h3>
      <div class="container-hour" *ngIf="form.get('tipoConsulta').value != ''">
        <div #hora tabindex="{{hour.id}}" [class.column-hour-none]="hour.status === 'Fechado'" class="column-hour"
             *ngFor="let hour of horariosAtendimento" (click)="getAgendamento(hour.hora)">
          <fa-icon id="{{hour.id}}" class="clock-default" [icon]="faClock"></fa-icon>
          <span>{{hour.hora}}</span>
        </div>
      </div>
      <button class="btn-save"
              [class.hidden]="numberMonth < motherToday && ano === anoAtual || ano < anoAtual"
              (click)="save()">Agendar
      </button>
    </div>
  </form>
</main>

