
hr {
  width: 90%;
  position: absolute;
}

@keyframes alertOpacity {
  0% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }

}

.group-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: flex-end;
  z-index: 2;
  top: 10px;
  right: 70px;
  cursor: pointer;

  & .btn-evening, .btn-morning, .btn-night {
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid lightgray;
    background: #ffffff;
    color: #00da86;
    border-radius: 7px;

    &:hover {
      background: #027c57;
      color: #ffffff;
    }

    & .btn-morning[title]:hover:after {
      background: red;
    }
  }

  & .btn-active {
    background: #00da86;
    color: #ffffff;
  }
}

.btn-save {
  background: #00da86;
  position: absolute;
  right: 70px;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #027c57;
    color: #ffffff;
  }
}

.container-calendar {
  outline: none;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 220px);
  background: white;
  box-shadow: 2px 2px 8px lightgray;
  border-radius: 7px;
  overflow-y: auto;

  & .container-tipoConsulta {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .container-tipoConsulta-none {
    pointer-events: none;
    color: lightgray;
    display: none;
  }


  & .control-label {
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
  }

  & .form-control {
    border: 1px solid #00da86;
    border-radius: 7px;
    padding: 7px;
    width: 33.33%;
  }


  & .calendar {
    font-size: 2em;
    color: #00da86;
  }

  & .title-month {
    width: 25%;
    height: 40px;
    display: flex;
    outline: none;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 10px auto;
    font-size: 1.3em;
    color: gray;
    cursor: pointer;
    font-weight: bold;

    & .btn-left {
      margin-right: 25px;
      outline: none;

      &:hover {
        color: #00b36f;
      }
    }

    & .btn-right {
      margin-left: 25px;
      outline: none;

      &:hover {
        color: #00b36f;
      }
    }
  }

  & .container-days {
    width: 100%;
    background: #fff;
    min-height: 70px;
    position: relative;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;

    & .day {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      vertical-align: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      border: 1px solid lightgray;
      margin: 2px;
      border-radius: 7px;
      font-weight: bold;
      position: relative;
      color: #c1d8ae;
      text-align: center;
      font-size: 1em;
      cursor: pointer;
      border-top: 3px solid #00da86;
      box-shadow: 2px 2px 4px lightgray;

      & .triangle-paper {
        width: 0;
        height: 0;
        border-top: 5px solid #d7d7d7;
        border-left: 5px solid #ebebeb;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      & .description {
        font-size: 12px;
        font-weight: normal;
      }
    }

    & .display-none {
      display: none;
    }

    & .day-disable {
      cursor: not-allowed;
      border-top: 3px solid lightgray;
      color: lightgray;
      pointer-events: none;
    }

    & .day-active, .today-active {
      color: #fff;
      background: #00da86;

      & .description {
        color: #fff;
        background: #00da86;
      }
    }
  }

  & .title-error {
    opacity: 0;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    border: 1px solid #dc5f56;
    border-radius: 7px;
    padding: 10px;
    color: #dc5f56;
    animation: alertOpacity 5s ease-in-out;
  }

  & .container-hour {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 7px;
    min-height: 150px;
    cursor: pointer;
    margin: 5px auto 0 auto;

    & .column-hour {
      width: 8.33%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      padding: 5px;
      margin: 5px;
      border: 1px solid lightgray;
      border-radius: 7px;

      &:focus {
        border: 1px solid #00da86;

        & .clock-default {
          color: #00da86;
        }
      }

      & .clock-default {
        color: #c7c7c7;
        font-size: 1.5em;
        margin-right: 10px;
      }

      & .blocked-click {
        pointer-events: none;
      }

      & .clock-active {
        color: #00da86;
        font-size: 1.5em;
        margin-right: 10px;
      }

      & .clock-close {
        color: #dc5f56;
        font-size: 1.5em;
        margin-right: 10px;
      }
    }

    & .column-hour-none {
      display: none;
    }
  }

  & .daysWeek-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    & .dayWeek {
      width: 50px;
      border: 1px solid black;
    }
  }

  & .dataDayContainer {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .dataDay {
      width: 50px;
      border: 1px solid black;
    }
  }
}

.hidden {
  display: none;
}

.active {
  background: #00da86;
  padding: 2px;
  color: #ffffff !important;
}

@media only screen and (max-width: 768px) {

  .container-calendar {
    & .title-month {
      width: 75%;
    }

    .form-control {
      border: 1px solid #00da86;
      border-radius: 7px;
      padding: 7px;
      width: 100%;
    }
  }
  .group-btn {
    font-size: 14px;
  }

  .group-btn {
    width: 100%;
    right: 0;
    justify-content: center;

    & .btn-evening, .btn-morning, .btn-night {
      width: 30px;
      height: 30px;
    }
  }

  .container-calendar {
    height: calc(100vh - 170px);
    text-align: center;

    & .container-days {
      flex-wrap: nowrap;
    }

    & .container-hour {
      flex-direction: row;
      width: 100%;

      & .column-hour {
        width: 33.33%;
        margin: 5px 5px 5px 5px;
      }
    }
  }

  .btn-save {
    width: 50%;
    margin: 10px 0 10px 0;
    position: relative;
    right: 0;
  }

}
