<div class="modal-container" *ngIf="isVisible">
  <div class="group-btn">
    <fa-icon class="btn-close" (click)="closeModal()" [icon]="faTimesCicle"></fa-icon>
  </div>
  <div class="content">
      <ng-content></ng-content>
  </div>
</div>
