.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;

  & .group-btn {
    width: 75%;
    height: 25px;
    position: relative;
    z-index: 99;
    margin-bottom: 10px;

    & .btn-close {
      font-size: 28px;
      position: absolute;
      right: 0;
      top: 0;
      color: #00da86;
      cursor: pointer;
    }
  }

  & .content {
    width: 75%;
    height: 75%;
    box-shadow: 5px 5px 20px gray;
    border: 3px solid #00da86;
    border-radius: 5px;
    background: #ffffff;
    /*
    overflow-y: auto;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .modal-container {
    & .content {
      height: 400px;
    }
  }
}

