@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline-color: transparent;;
  outline-style: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.title {
  border: 1px solid black;
}

.container {
  padding: 25px;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 200px);
  overflow-y: auto;
  background: white;
  box-shadow: 2px 2px 8px lightgray;
  border-radius: 7px;

  .form-control {
    width: 50%;
    min-height: 100px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    & .form-group {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      & .input-control {
        border: 1px solid lightgray;
        color: gray;
        width: 50%;
        border-radius: 7px;
        padding: 7px;
      }

      & .control-label {
        margin-top: 10px;
      }
    }

    & .btn-save {
      width: 100px;
      height: 30px;
      padding: 5px;
      border-radius: 7px;
      color: white;
      background: #00da86;
      margin: 10px 0 10px 0;
      position: relative;
      right: 0;
      cursor: pointer;

      & .label-input {
        color: gray;
        margin: 5px;
        position: relative;
      }

      & .input-control {
        border: 1px solid #00da86;
        border-radius: 7px;
        padding: 7px;
        width: 75%;
        color: gray;
      }
    }
  }

  .table-fixed {
    height: 175px;
    overflow-y: auto;

    .table {
      width: 100%;
      text-align: center;
      color: gray;
      border-collapse: collapse;

      thead th {
        background: white;
        box-shadow: 2px 2px 5px gray;
        height: 35px;
        font-weight: bold;
        font-size: 12px;
        position: sticky;
        top: 0
      }

      tbody {
        tr {
          height: 35px;
        }

        tr:nth-child(2n +1) {
          background: #d3ddcd;
        }
      }
    }
  }

  .container-logo {
    width: 25%;
    display: flex;
    justify-content: center;

    & .logo {
      width: 60px;
    }
  }

}


.title-form {
  color: gray;
  width: 95%;
  font-size: 20px;
  margin: 0 auto;
}


.container-form-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;

  & .group-field-user, & .group-field-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80px;

    & .label-input {
      color: gray;
      margin: 5px;
      position: relative;
      top: 15px;
      min-height: 20px;
    }

    .error {
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 10px;
      color: #dc5f56;
    }

    .field {
      bottom: 0;
      border: 1px solid lightgray !important;
      width: 100%;
      height: 35px;
      color: lightgray;
      margin-top: 10px;
      border-radius: 7px;
      font-size: 14px;
      text-align: left;
      padding-left: 5px;
      color: gray;

      &:focus {
        border: 2px solid #00da86 !important;
      }
    }
  }

  .login-button {
    width: 150px;
    height: 35px;
    margin: 40px 0 25px 0;
    border-radius: 7px;
    border: none;
    position: relative;
    cursor: pointer;
    background: #00b36f;
    color: #E5FFC9;

    &:hover {
      background: #00da86;
    }
  }
}


.w-8-33 {
  width: 8.33% !important;
}

.w-16-66 {
  width: 16.66% !important;
}

.w-25 {
  width: 25% !important;
}

.w-33-33 {
  width: 33.33% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}


@media screen and(max-width: 768px) {

  .title-form {
    width: 75%;
  }
  .container-form-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    position: relative;
    height: 300px;
    overflow-y: auto;

    & .group-field-user, & .group-field-password {
      width: 100% !important;
    }

  }

}
